:root {
  --black: #000000;
  --white: #ffffff;
  --font-size-base: 8px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--white);
}

body {
  background-color: var(--black);
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(var(--font-size-base) * 3);
  line-height: calc(var(--font-size-base) * 3);
  min-width: 320px;
  max-width: 1264px; /* as recommended by https://uxdesign.cc/responsive-layout-grid-guide-for-designers-c3ba7d161bdf */
  margin: 0 auto;
}

@media (min-width: 0px) and (max-width: 320px) {
  body {
    padding: 0 calc(var(--font-size-base) * 1);
    font-size: calc(var(--font-size-base) * 2);
    line-height: calc(var(--font-size-base) * 2);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  body {
    padding: 0 calc(var(--font-size-base) * 1);
    font-size: calc(var(--font-size-base) * 2);
    line-height: calc(var(--font-size-base) * 2);
  }
}

@media (min-width: 656px) and (max-width: 1023px) {
  body {
    padding: 0 calc(var(--font-size-base) * 2);
  }
}

@media (min-width: 1024px) and (max-width: 1392px) {
  body {
    padding: 0 calc(var(--font-size-base) * 4);
  }
}

#title {
  font-size: calc(var(--font-size-base) * 5);
  line-height: calc(var(--font-size-base) * 5);
  text-align: center;
  font-weight: bold;
  padding: 0px calc(var(--font-size-base) * 3);
  outline: none;
  background-color: var(--black);
}

@media (min-width: 0px) and (max-width: 320px) {
  #title {
    font-size: calc(var(--font-size-base) * 3);
    line-height: calc(var(--font-size-base) * 3);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  #title {
    font-size: calc(var(--font-size-base) * 3);
    line-height: calc(var(--font-size-base) * 3);
  }
}

#top-buttons-container {
  margin-top: calc(var(--font-size-base) * 2);
  position: relative;
}

#top-buttons {
  position: relative;
  display: flex;
  z-index: 1;
}

.top-button-container {
  flex-basis: 33.3%;
  text-align: center;
}

.top-button-container > button {
  width: calc(var(--font-size-base) * 6);
  height: calc(var(--font-size-base) * 6);
  border-radius: 100%;
  cursor: pointer;
}

.top-button-container > button > img {
  width: calc(var(--font-size-base) * 3);
  height: calc(var(--font-size-base) * 3);
}

.button-black {
  background-color: var(--black);
  border: 2px solid var(--white);
}

.button-green {
  background-color: #04ad15;
  border: 2px solid #04ad15;
}

.button-orange {
  background-color: #ff5f15;
  border: 2px solid #ff5f15;
}

.text-white {
  color: #fff;
  font-weight: bold;
}

.text-orange {
  color: #ff5f15;
  font-weight: bold;
}

.text-green {
  color: #04ad15;
  font-weight: bold;
}

#donate {
  background-color: #ff0000;
  border: #ff0000;
}

#donate > img {
  margin-top: 4px; /* Fixes the heart being centered on the button */
}

.top-button-description {
  margin-top: calc(var(--font-size-base) * 1);
  font-size: calc(var(--font-size-base) * 2);
  line-height: calc(var(--font-size-base) * 2);
}

@media (min-width: 0px) and (max-width: 320px) {
  .top-button-description {
    font-size: calc(var(--font-size-base) * 1.5);
    line-height: calc(var(--font-size-base) * 1.5);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  .top-button-description {
    font-size: calc(var(--font-size-base) * 1.5);
    line-height: calc(var(--font-size-base) * 1.5);
  }
}

#share-buttons-overlay {
  z-index: 2;
  position: absolute;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.tinted {
  opacity: 0.5;
  filter: blur(3px);
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

#title-and-edit-button {
  margin-top: calc(var(--font-size-base) * 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

#edit-title-button {
  width: calc(var(--font-size-base) * 5);
  height: calc(var(--font-size-base) * 5);
  border-radius: 100%;
  border: 2px solid var(--white);
  cursor: pointer;
  text-align: center;
}

#edit-title-button > img {
  width: calc(var(--font-size-base) * 2.5);
  height: calc(var(--font-size-base) * 2.5);
}

.week-day-stage-item {
  text-align: center;
  border: 2px solid var(--white);
  border-radius: calc(var(--font-size-base) * 1);
  font-size: calc(var(--font-size-base) * 3);
  line-height: calc(var(--font-size-base) * 3);
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 0px) and (max-width: 320px) {
  .week-day-stage-item {
    font-size: calc(var(--font-size-base) * 2);
    line-height: calc(var(--font-size-base) * 2);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  .week-day-stage-item {
    font-size: calc(var(--font-size-base) * 2);
    line-height: calc(var(--font-size-base) * 2);
  }
}

#week-selector {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--font-size-base) * 1);
  margin-top: calc(var(--font-size-base) * 3);
}

.week {
  flex-basis: 50%;
  padding: calc(var(--font-size-base) * 2);
}

@media (min-width: 0px) and (max-width: 320px) {
  .week {
    padding: calc(var(--font-size-base) * 1);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  .week {
    padding: calc(var(--font-size-base) * 1);
  }
}
display: flex;
justify-content: center;
align-items: center;
.active {
  background-color: var(--white);
  color: var(--black);
  cursor: default;
}

#day-selector {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--font-size-base) * 1);
  gap: calc(var(--font-size-base) * 1);
}

.day {
  flex-basis: 33.3%;
  padding: calc(var(--font-size-base) * 2) calc(var(--font-size-base) * 1);
}

@media (min-width: 0px) and (max-width: 320px) {
  .day {
    padding: calc(var(--font-size-base) * 1);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  .day {
    padding: calc(var(--font-size-base) * 1);
  }
}

#stage-selector {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--font-size-base) * 1);
  gap: calc(var(--font-size-base) * 1);
}

.stage-item {
  text-align: center;
  padding: calc(var(--font-size-base) * 2) calc(var(--font-size-base) * 1);
}

@media (min-width: 0px) and (max-width: 320px) {
  .stage-item {
    padding: calc(var(--font-size-base) * 1);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  .stage-item {
    padding: calc(var(--font-size-base) * 1);
  }
}

.stage-previous-next {
  user-select: none;
  flex-basis: 10%;
}

#stage {
  flex-basis: 80%;
}

#schedule {
  margin-top: calc(var(--font-size-base) * 2);
}

#schedule > div:last-child {
  border-bottom: none;
}

#timeslot-header {
  display: flex;
  color: var(--white);
  background-image: linear-gradient(90deg, #554cc7 0, #aa397e 100%);
  font-weight: bold;
  border-bottom: 2px solid var(--black);
}

.timeslot-time {
  flex-basis: 10%;
  padding: calc(var(--font-size-base) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeslot-artist {
  flex-basis: 80%;
  padding: calc(var(--font-size-base) * 2);
  border-left: 2px solid black;
  border-right: 2px solid black;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeslot-followers {
  flex-basis: 10%;
  padding: calc(var(--font-size-base) * 2);
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 320px) {
  .timeslot-time {
    flex-basis: 15%;
    padding: calc(var(--font-size-base) * 1);
  }
  .timeslot-artist {
    flex-basis: 75%;
    padding: calc(var(--font-size-base) * 1);
  }
  .timeslot-followers {
    padding: calc(var(--font-size-base) * 1);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  .timeslot-time {
    flex-basis: 15%;
    padding: calc(var(--font-size-base) * 1);
  }
  .timeslot-artist {
    flex-basis: 75%;
    padding: calc(var(--font-size-base) * 1);
  }
  .timeslot-followers {
    padding: calc(var(--font-size-base) * 1);
  }
}

@media (min-width: 656px) and (max-width: 1023px) {
  .timeslot-time {
    flex-basis: 10%;
  }
  .timeslot-artist {
    flex-basis: 80%;
  }
}

@media (min-width: 1024px) and (max-width: 1392px) {
  .timeslot-time {
    flex-basis: 10%;
  }
  .timeslot-artist {
    flex-basis: 80%;
  }
}

.timeslot {
  display: flex;
  background: var(--white);
  color: var(--black);
  border-bottom: 2px solid var(--black);
  transition: 0.2s all;
}

.timeslot > div {
  color: var(--black);
}

.timeslot:hover > div {
  background-color: #66ee66;
  color: var(--black);
  transition: 0.3s all;
}

.timeslot.attending:hover > div {
  background-color: #33aa33;
}

.timeslot.attending > div {
  background: #006600;
  color: var(--white);
}
