:root {
  --black: #000000;
  --white: #ffffff;
  --font-size-base: 8px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--white);
}

body {
  background-color: var(--black);
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(var(--font-size-base) * 3);
  line-height: calc(var(--font-size-base) * 3);
  min-width: 320px;
  max-width: 1264px; /* as recommended by https://uxdesign.cc/responsive-layout-grid-guide-for-designers-c3ba7d161bdf */
  margin: 0 auto;
}

@media (min-width: 0px) and (max-width: 320px) {
  body {
    padding: 0 calc(var(--font-size-base) * 1);
    font-size: calc(var(--font-size-base) * 2);
    line-height: calc(var(--font-size-base) * 2);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  body {
    padding: 0 calc(var(--font-size-base) * 1);
    font-size: calc(var(--font-size-base) * 2);
    line-height: calc(var(--font-size-base) * 2);
  }
}

@media (min-width: 656px) and (max-width: 1023px) {
  body {
    padding: 0 calc(var(--font-size-base) * 2);
  }
}

@media (min-width: 1024px) and (max-width: 1392px) {
  body {
    padding: 0 calc(var(--font-size-base) * 4);
  }
}

#title {
  font-size: calc(var(--font-size-base) * 5);
  line-height: calc(var(--font-size-base) * 5);
  text-align: center;
  font-weight: bold;
  padding: 0px calc(var(--font-size-base) * 3);
  outline: none;
  background-color: var(--black);
}

@media (min-width: 0px) and (max-width: 320px) {
  #title {
    font-size: calc(var(--font-size-base) * 3);
    line-height: calc(var(--font-size-base) * 3);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  #title {
    font-size: calc(var(--font-size-base) * 3);
    line-height: calc(var(--font-size-base) * 3);
  }
}

#top-buttons-container {
  margin-top: calc(var(--font-size-base) * 2);
  position: relative;
}

#top-buttons {
  position: relative;
  display: flex;
  z-index: 1;
}

.top-button-container {
  flex-basis: 33.3%;
  text-align: center;
}

.top-button-container > button {
  width: calc(var(--font-size-base) * 6);
  height: calc(var(--font-size-base) * 6);
  border-radius: 100%;
  cursor: pointer;
}

.top-button-container > button > img {
  width: calc(var(--font-size-base) * 3);
  height: calc(var(--font-size-base) * 3);
}

.button-black {
  background-color: var(--black);
  border: 2px solid var(--white);
}

.button-green {
  background-color: #04ad15;
  border: 2px solid #04ad15;
}

.button-orange {
  background-color: #ff5f15;
  border: 2px solid #ff5f15;
}

.text-white {
  color: #fff;
  font-weight: bold;
}

.text-gray {
  color: #aaa;
  font-weight: bold;
}

.text-orange {
  color: #ff5f15;
  font-weight: bold;
}

.text-green {
  color: #04ad15;
  font-weight: bold;
}

#donate {
  background-color: #ff0000;
  border: #ff0000;
}

#donate > img {
  margin-top: 4px; /* Fixes the heart being centered on the button */
}

.top-button-description {
  margin-top: calc(var(--font-size-base) * 1);
  font-size: calc(var(--font-size-base) * 2);
  line-height: calc(var(--font-size-base) * 2);
}

@media (min-width: 0px) and (max-width: 320px) {
  .top-button-description {
    font-size: calc(var(--font-size-base) * 1.5);
    line-height: calc(var(--font-size-base) * 1.5);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  .top-button-description {
    font-size: calc(var(--font-size-base) * 1.5);
    line-height: calc(var(--font-size-base) * 1.5);
  }
}

#minus-image {
  height: calc(var(--font-size-base) * 1);
}

.minus-button {
  background-color: #fff;
}

#share-buttons-overlay {
  z-index: 2;
  position: absolute;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.tinted {
  opacity: 0.5;
  filter: blur(3px);
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

#title-and-edit-button {
  margin-top: calc(var(--font-size-base) * 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

#edit-title-button {
  width: calc(var(--font-size-base) * 5);
  height: calc(var(--font-size-base) * 5);
  border-radius: 100%;
  border: 2px solid var(--white);
  cursor: pointer;
  text-align: center;
}

#edit-title-button > img {
  width: calc(var(--font-size-base) * 2.5);
  height: calc(var(--font-size-base) * 2.5);
}

.week-day-stage-item {
  text-align: center;
  border: 2px solid var(--white);
  border-radius: calc(var(--font-size-base) * 1);
  font-size: calc(var(--font-size-base) * 3);
  line-height: calc(var(--font-size-base) * 3);
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 0px) and (max-width: 320px) {
  .week-day-stage-item {
    font-size: calc(var(--font-size-base) * 2);
    line-height: calc(var(--font-size-base) * 2);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  .week-day-stage-item {
    font-size: calc(var(--font-size-base) * 2);
    line-height: calc(var(--font-size-base) * 2);
  }
}

#week-selector {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--font-size-base) * 1);
  margin-top: calc(var(--font-size-base) * 3);
}

.week {
  flex: 1 1;
  padding: calc(var(--font-size-base) * 2);
}

@media (min-width: 0px) and (max-width: 320px) {
  .week {
    padding: calc(var(--font-size-base) * 1);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  .week {
    padding: calc(var(--font-size-base) * 1);
  }
}

.active {
  background-color: var(--white);
  color: var(--black);
  cursor: default;
}

#day-selector {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--font-size-base) * 1);
  gap: calc(var(--font-size-base) * 1);
}

.day {
  flex: 1 1;
  padding: calc(var(--font-size-base) * 2) calc(var(--font-size-base) * 1);
}

@media (min-width: 0px) and (max-width: 320px) {
  .day {
    padding: calc(var(--font-size-base) * 1);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  .day {
    padding: calc(var(--font-size-base) * 1);
  }
}

#stage-selector {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--font-size-base) * 1);
  gap: calc(var(--font-size-base) * 1);
}

.stage-item {
  text-align: center;
  padding: calc(var(--font-size-base) * 2) calc(var(--font-size-base) * 1);
}

@media (min-width: 0px) and (max-width: 320px) {
  .stage-item {
    padding: calc(var(--font-size-base) * 1);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  .stage-item {
    padding: calc(var(--font-size-base) * 1);
  }
}

.stage-previous-next {
  user-select: none;
  flex-basis: 10%;
}

#stage {
  flex-basis: 80%;
}

#schedule {
  margin-top: calc(var(--font-size-base) * 4);
}

@media (min-width: 0px) and (max-width: 320px) {
  #schedule {
    margin-top: calc(var(--font-size-base) * 3);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  #schedule {
    margin-top: calc(var(--font-size-base) * 3);
  }
}

@media (min-width: 656px) and (max-width: 1023px) {
  #schedule {
    margin-top: calc(var(--font-size-base) * 3);
  }
}

#schedule > div:last-child {
  border-bottom: none;
}

#timeslot-header {
  display: flex;
  color: var(--white);
  background-image: linear-gradient(90deg, #554cc7 0, #aa397e 100%);
  font-weight: bold;
  border-bottom: 2px solid var(--black);
}

.timeslot {
  display: flex;
  border-bottom: 2px solid var(--black);
  transition: 0.2s all;
}

.timeslot-time-artist {
  flex-basis: 90%;
  display: flex;
}

.timeslot > .timeslot-time-artist {
  background: var(--white);
}

.timeslot > .timeslot-followers {
  background: #333;
}

.timeslot > .timeslot-followers:hover {
  background: #666;
}

.timeslot-time {
  flex-basis: 12%;
  padding: calc(var(--font-size-base) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.timeslot-artist {
  flex-basis: 88%;
  padding: calc(var(--font-size-base) * 2);
  border-left: 2px solid black;
  border-right: 2px solid black;
  word-break: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.timeslot-followers {
  flex-basis: 10%;
  padding: calc(var(--font-size-base) * 2);
  word-break: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 320px) {
  .timeslot-time {
    flex-basis: 17%;
    padding: calc(var(--font-size-base) * 1);
  }
  .timeslot-artist {
    flex-basis: 83%;
    padding: calc(var(--font-size-base) * 1);
  }
  .timeslot-followers {
    padding: calc(var(--font-size-base) * 1);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  .timeslot-time {
    flex-basis: 17%;
    padding: calc(var(--font-size-base) * 1);
  }
  .timeslot-artist {
    flex-basis: 83%;
    padding: calc(var(--font-size-base) * 1);
  }
  .timeslot-followers {
    padding: calc(var(--font-size-base) * 1);
  }
}

@media (min-width: 656px) and (max-width: 1023px) {
  .timeslot-time {
    flex-basis: 17%;
  }
  .timeslot-artist {
    flex-basis: 83%;
  }
}

.timeslot > .timeslot-time-artist > .timeslot-time,
.timeslot > .timeslot-time-artist > .timeslot-artist {
  color: var(--black);
}

.timeslot > .timeslot-time-artist.attending > .timeslot-time,
.timeslot > .timeslot-time-artist.attending > .timeslot-artist {
  color: var(--white);
}

.timeslot > .timeslot-time-artist:hover {
  background-color: #66ee66;
  color: var(--black);
  transition: 0.3s all;
}

.timeslot > .timeslot-time-artist.attending:hover {
  background-color: #33aa33;
}

.timeslot > .timeslot-time-artist.attending {
  background: #006600;
  color: var(--white);
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.modal {
  background-color: #000;
  border-radius: calc(var(--font-size-base) * 1);
  /* grid-template-columns:
    calc(var(--font-size-base) * 8) calc(var(--font-size-base) * 38)
    calc(var(--font-size-base) * 4); */
  width: calc(var(--font-size-base) * 70);
  height: auto;
  z-index: 12;
  border: 1px solid white;
}

@media only screen and (max-width: 767px) {
  .modal {
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}

.modal-header {
  border-top-left-radius: calc(var(--font-size-base) * 1);
  border-top-right-radius: calc(var(--font-size-base) * 1);
  background: linear-gradient(90deg, #554cc7 0, #aa397e 100%);
  height: auto;
  border-bottom: 1px solid #fff;
  display: flex;
  grid-template-rows:
    calc(var(--font-size-base) * 8) auto
    calc(var(--font-size-base) * 8);
  z-index: 13;
}

.modal-header-title {
  display: grid;
  text-align: center;
  align-items: center;
  width: 100%;
  color: #fff;
  font-size: calc(var(--font-size-base) * 3);
  line-height: calc(var(--font-size-base) * 3);
  font-weight: 600;
  padding: calc(var(--font-size-base) * 1);
  z-index: 14;
}

.modal-header-side {
  height: calc(var(--font-size-base) * 8);
  width: calc(var(--font-size-base) * 8);
  z-index: 14;
}

.modal-x {
  height: calc(var(--font-size-base) * 3);
  width: calc(var(--font-size-base) * 3);
  padding: calc(var(--font-size-base) * 2.5);
  cursor: pointer;
  z-index: 15;
}

.modal-body {
  padding: calc(var(--font-size-base) * 2);
  width: calc(100% - calc(var(--font-size-base) * 4));
  height: calc(var(--font-size-base) * 30 - 2px);
  font-size: calc(var(--font-size-base) * 3);
  line-height: calc(var(--font-size-base) * 3);
  overflow: hidden;
  overflow-y: scroll;
  border-bottom: 1px solid white;
  z-index: 13;
}

.modal-footer {
  height: calc(var(--font-size-base) * 8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: calc(var(--font-size-base) * 3);
  line-height: calc(var(--font-size-base) * 3);
  width: 100%;
  border-bottom-left-radius: calc(var(--font-size-base) * 1);
  border-bottom-right-radius: calc(var(--font-size-base) * 1);
  z-index: 13;
}

.join {
  background-color: #009900;
}

.dont-go {
  background-color: #aa0000;
}

.going {
  color: #3a3;
}

.not-going {
  color: #a33;
}

ul {
  list-style-type: disc;
}

li {
  margin-left: calc(var(--font-size-base) * 3);
}
